/** {
   color: #e02;
}*/
h1 {
   color: #09f;
}

.verde {
   background-color: #0c3;
   color: #000;
}

h6.verde {
   background-color: #5f5;
   color: #040;
}

#sections {
   background-color: hsl(20, 10, 10);
   color: hsl(20, 80, 60);
}

[type="text"] {
   border: 2px solid #404;
}

input[type] {
   background-color: rgb(236, 236, 4);
}

section.hover:hover {
   background-color: #fcc;
}

p::first-line {
   font-family: 'Comic Sans MS', sans-serif;
}
div[class~="azul"] {
   color: blue !important;
}

html[lang|="es"] {
   font-family: 'Ubuntu', sans-serif;
}

img[src$=".png"] {
   border: 1px solid orange;
}

[title*="plan"] {
   color: yellowgreen;
}

a:hover {
   color: #8c0;
   rotate: 45deg;
}

button:active {
   background-color: #08f;
}

input:focus {
   background-color: #f60;
}

input:checked {
   background-color: #f08;
}

input:disabled {
   background-color: #888;
   color: #fff;
}

#parrafos p:first-child {
   background-color: #5f0;
}

#parrafos p:last-child {
   background-color: #480;
}

#parrafos p:nth-child(3) {
   background-color: #0f5;
   font-weight: bolder;
}

#parrafos p:nth-child(even) {
   text-decoration: underline;
}

#parrafos p:nth-child(odd), #parrafos h2:nth-of-type(odd) {
   text-decoration: overline;
}

p::first-letter {
   font-size: 24px;
}

blockquote::before {
   content: "Cita: ";
   font-weight: bold;
}

blockquote::after {
   content: "🖌️";
   border-bottom: 5px solid #f00;
}

ul li::marker {
   content: "✔";
}

ul li ul li::marker {
   content: "✔✔";
}

ul li ul li ul li::marker {
   content: "✔✔✔";
}

ul li ul li ul li ul li::marker {
   content: "✔✔✔✔";
}

ul li ul li ul li ul li ul li::marker {
   content: "✔✔✔✔✔";
}