/* Reglas predefinidas */
body * { font-family: "Montserrat", system-ui, sans-serif; }
h1 { font-size: 3.2rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.2rem; }

/* Reglas generales */
/*header * {
   border: 1px solid orangered;
}*/
:root {
   --colorDeAcento: #006432;
}
ul > li:has(a)::marker { content: url(/assets/external.svg) " "; }
ul > li:has(strong) { list-style: none; }
a { text-decoration: none; }
hr { margin: 32px; }
main {
   padding: 0 5vw;
}
.destacado {
   background-color: #eee;
   padding: 16px;
   max-width: fit-content;
   border-radius: 16px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.linea-vertical {
   border: 1px solid #aaa;
   margin: 0 8px;
   height: auto;
}
.degradado-texto-verdoso {
   background-color: black;
   background-image: linear-gradient(45deg, #00c864, var(--colorDeAcento));
   background-size: 100%;
   background-repeat: repeat;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
}
.contenedor-generico { display: flex; justify-content: center; align-items: center; }

/* Estilos del documento */
h1 {
   line-height: 95%;
   text-transform: uppercase;
}
.yo { 
   display: flex;
   flex-direction: row;
}
.mis-datos {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: right;
   margin-right: 16px;
}
.mis-datos > h2 {
   max-width: 7ch;
   line-height: 90%;
}
nav > ul > li:has(a) {
   margin-bottom: -4px;
}
body > nav div.destacado {
   display: flex;
   flex-direction: column;
   align-items: center;
}
body > nav div.destacado h3 {
   margin-bottom: 16px;
}
body > nav div.destacado div {
   display: flex;
}
#principio {
   height: 100vh;
   padding: 0 5vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#principio > section {
   display: flex;
   flex-direction: column;
   align-items: center;
}
main p {
   margin: 24px 0;
}
.repo-en-github {
   text-align: center;
}
.mi-foto {
   background-image: url(/assets/IMG_E3041b-edit3.webp);
   background-size: cover;
   min-width: 200px;
   min-height: 200px;
}
li:has(a.fb)::marker { content: url(/assets/facebook.svg) " "; }
li:has(a.ig)::marker { content: url(/assets/instagram.svg) " "; }
li:has(a.goo)::marker { content: url(/assets/google.svg) " "; }
li:has(a.pay)::marker { content: url(/assets/paypal.svg) " "; }
#repo-en-github {
   display: flex;
   margin-top: 32px;
   width: auto;
   align-items: center;
}
#repo-en-github img {
   min-width: 32px;
   min-height: 32px;
}
#repo-en-github .linea-vertical {
   height: 3em;
}