/* Reglas predefinidas */
body * { font-family: "Montserrat", system-ui, sans-serif; }
h1 { font-size: 3.2rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.2rem; }

/* Reglas generales */
/*header * {
   border: 1px solid orangered;
}*/
.mis-datos, header > section, header > section > nav, section, header, .repo-en-github { display: flex; }
ul > li:has(a)::marker { content: url(/assets/external.svg) " "; }
ul > li:has(strong) { list-style: none; }
a { text-decoration: none; }
.principal {
   background-color: #eee;
   padding: 16px;
   border-radius: 16px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.linea-vertical {
   border: 1px solid #aaa;
   margin: 0 8px;
   height: auto;
}

/* Estilos del documento */
h1, h1 span {
   font-family: "JetBrains Mono", monospace;
}
h1 span {
   font-weight: normal;
   font-style: italic;
}
header h1 { 
   text-align: center;
   padding: 16px;
   margin-bottom: 8px;
}
.yo { 
   padding: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.mis-datos {
   flex-direction: column;
   justify-content: center;
   text-align: right;
   margin-right: 16px;
}
.mis-datos > h2 {
   max-width: 7ch;
   line-height: 90%;
}
nav > ul > li:has(a) {
   margin-bottom: -4px;
}
header > section > nav {
   flex-direction: row;
}
header > section {
   justify-content: center;
}
body {
   max-width: 90%;
   margin: auto;
}
main p {
   margin: 24px 0;
}
.repo-en-github {
   text-align: center;
}
.mi-foto {
   background-image: url("/assets/IMG_E3041b-edit3.webp");
   background-size: cover;
   width: 200px;
   height: 200px;
}
li:has(a.fb)::marker { content: url(/assets/facebook.svg) " "; }
li:has(a.ig)::marker { content: url(/assets/instagram.svg) " "; }
li:has(a.goo)::marker { content: url(/assets/google.svg) " "; }
li:has(a.pay)::marker { content: url(/assets/paypal.svg) " "; }
#repo-en-github {
   margin-top: 32px;
   width: auto;
   align-items: center;
}
#repo-en-github img {
   width: 32px;
   height: 32px;
}
header {
   flex-direction: column;
   align-items: center;
   margin-bottom: 16px;
}
#repo-en-github .linea-vertical {
   height: 3em;
}